include LICENSE.md
include MANIFEST.in
include AUTHORS
include debian/changelog
include debian/copyright
include debian/control
include debian/py3dist-overrides
recursive-include tz_converter/data/icons *
include tz_converter/data/manpages/tz-converter.1
include tz_converter/data/tz-converter.desktop
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
