Package: tz-converter
Version: 1.0.0-1
Architecture: all
Maintainer: David Maiorino (Dave) <maiorinodavid@gmail.com>
Installed-Size: 251
Depends: python3:any (>= 3.3.2-2~), python3-pyside, python-dateutil, python3-tz
Section: python
Priority: optional
Homepage: https://github.com/DMaiorino/tz-converter
Description: Convert the time and date across time zones
 A simple interface for converting the time and date between two time zones.
 Written in Python3 and using Pyside, this interface allows the user to save a
 certain time zone and restore it after further changes. The timezone
 information is taken from pytz, supplying seven different regions:
 Africa, America, Asia, Australia, Europe, Pacific, and US.
