Source: tz-converter
Maintainer: David Maiorino (Dave) <maiorinodavid@gmail.com>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9), python3-all, python3-setuptools, dh-python
Standards-Version: 3.9.5
X-Python3-Version: >= 3.2
Homepage: https://github.com/DMaiorino/tz-converter

Package: tz-converter
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3, python3-pyside, python-dateutil
Description: Convert the time and date across time zones
 A simple interface for converting the time and date between two time zones. 
 Written in Python3 and using Pyside, this interface allows the user to save a 
 certain time zone and restore it after further changes. The timezone 
 information is taked from pytz, supplying seven different regions: 
 Africa, America, Asia, Australia, Europe, Pacific, and US.
